:root {
  --color-primary: rgb(255, 127, 80);
  --color-white: rgb(255, 255, 255);
  --color-details: rgb(250, 104, 51);
  --color-secondary: rgb(156, 80, 255);
}

body {
  background-color: var(--color-details);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-element {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-element>input {
  height: min-content;
}

#library-shelf{
  display: flex;
  gap: 1rem;
}

.book {
  width: 200px;
  border: 2px solid var(--color-details);
  padding: 0.75rem;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.book:hover {
  background-color: var(--color-details);
  border: 2px solid var(--color-white);
}

.library {
  border: 2px solid var(--color-white);
  padding: 3rem;
  background-color: var(--color-white);
  margin: 1rem;
}

.library>h1 {
  text-align: center;
  font-size: 2em;
  color: var(--color-secondary);
  background-color: var(--color-white);
  padding: 1rem 0;
}

#book-information {
  border: 2px solid var(--color-white);
  padding: 1rem;
  background-color: var(--color-white);
  margin: 1rem;
  margin-top: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  align-items: flex-start;
}

.form-element {
  font-weight: 700;
  font-size: 16px;
}
